@tauw:registry=https://pkgs.dev.azure.com/TAUW-DevOps/_packaging/TAUW-DevOps/npm/registry/
//pkgs.dev.azure.com/TAUW-DevOps/_packaging/TAUW-DevOps/npm/registry/:always-auth=true

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:always-auth=true
